body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

a, .dark-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-left: 20px;
}

.header, .presentation {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    padding-top: 20px;
}

.presentation {
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}